*{
    border: 2px red solid;
}
body {
    background: rgb(251, 252, 254);
    color:#36536B;
}

#navtop {
    display: flex;
    justify-content: space-around;

}
.button {
    border-radius: 24px;
    background-color: rgb(186, 66, 112);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    width: 173px;
    height: 48px;

 
}
.button1 {
    position: absolute;
      right: 0;
  width: 152px;
    border-radius: 24px;
    background-color: rgb(186, 66, 112);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border: none;
    height: 48px;

}
.submit {
    white-space: pre-line;
    color:#36536B;
    height: 133px; 
   margin: 0 12%;
   display: flex;
  align-items: center;
 
}
.register {
    background-color: transparent;
    border: 0px solid;
 
    border-bottom: 1px solid; 
    height: 42px;
    display: flex;
    flex-direction: column;
  
   
}
.register1{
    display: flex;
    flex-direction: column;
}
.buttonsubmit{
    margin-right: auto;
    width: 152px;
    height: 48px;
    border-radius: 24px;
    margin-top: 10px;
    background-color: #fbfcfe;
}
.join {
    color: #36536B;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  
}
#check1 {
    width: 24px;
    height: 24px;
}
.rez{

}
.buttoncheck{
    display: flex;
    align-items: center;
    gap: 26px;

}
input[type="checkbox"] {
    border: 2px solid red;
  }
input[type="checkbox"]:checked {
    background-color: red;
    color: red;
  }
.eeadress2 {
    flex: 1;
   
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
   width:  445px;
    height: 48px;
    bottom: 245px;
    border: none;
}
.navtop1 {
    
    height: 38px;
}

.images1 {
    display: grid;

    grid-gap: 2rem;
    justify-items: center;
    grid-template-areas:
        "tesla microsoft hp "
        "oracle google nvidia"
}

.joinall {
    display: grid;
    align-items: center;
    bottom: 200px;
}

#navtop1 {

    display: flex;
    justify-content: space-around;
    background: #1B262F;

    
}
.svg-class {
   stroke:#fbfcfe;
}
.navbarFlex {
    display: flex;
    align-items: center;
}

.navbarFlex a {
    padding-left: 15px;
    padding-right: 15px;


}

.foot3 {
    display: flex;
    padding: 10px;
    
}
.foot3 img{
    margin: 10px;
}


.Demo {
    display: flex;
    align-items: center;
}
.divgrid {
    display: flex;
    justify-content: space-around;
}
.start {
    display: flex;
margin-bottom: 15px;
align-items: center;
justify-content: space-around;
}
.eeadress {
    display: flex;
    align-items: center;
    position: relative;
  }
  .navbarFlex a{
    color: #36536B;
    text-decoration: none;
  }
  #navtop1 .navbarFlex a{
    color: #fbfcfe;  }

/* button */
.button{
    cursor: pointer;
    outline: none;
    color: #fff;

    border: none;


}
.button1{
    cursor: pointer;
    color: #fff;

}
