/* *{
    border: solid 2px red;
} */
body {
    background: #EDF3F8;
}

.button {
    border-radius: 24px;
    background: #BA4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    height: 48px;
    flex-shrink: 0;
    border: none;
    color: white;
    width: 173px;
    font-size: 15px;
}

#navtop {
    display: flex;
 
    transition: top 0.3s;
    flex-shrink: 0;
    position: relative;
    justify-content: space-around;

}

#navtop a {
    float: left;
    display: block;
    color: #36536B;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    background: #EDF3F8;
}



.submit {
    color: #36536B;
   
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.431px;
    height: 133px;
    flex-shrink: 0;
    white-space: pre-line;
    margin-left: 10%;
   
}

.register {
    background-color: transparent;
    border: 0px solid;
    color: #36536B;
    border-bottom: 1px solid;
    width: 445px;
    height: 42px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.join {
    color: #36536B;
    font-family: DM Serif Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.185px;
    opacity: 0.75;
    white-space: pre-line;
}

.buttoncheck {
    color: #36536B;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
    letter-spacing: -0.115px;
    bottom: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#check1 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    opacity: 0.25;

}

.buttonsubmit {
    height: 48px;
    flex-shrink: 0;
    color: #36536B;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
    background-color: transparent;
    border: 1px solid #36536B;
    border-radius: 24px;
    width: 170px;
    margin-top: 15px;
}

.ready {
    color: #36536B;
   
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
    bottom: 160px;
}

.eeadress2 {
    flex: 1;
    color: #36536B;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 24px;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    width: 445px;
    height: 48px;
    flex-shrink: 0;
    bottom: 245px;
    border: none;

}

.navtop1 {
    height: 38px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

a {
    color: #FBFCFE;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.images1 {
    display: grid;
    grid-gap: 3rem;
    /* font-size: 1rem; /
    / grid-template-columns: repeat(20px, 25px);
    grid-template-rows: repeat(20px, 20px);  */
    width: 9rem;
    grid-template-areas:
        "tesla microsoft hp "
        "oracle google nvidia";
    align-items: center;
    justify-items: center;
    width: 200;
}

.joinall {
    display: grid;
    align-items: center;
    bottom: 200px;
}

#navtop1 {
    display: flex;
   
    transition: top 0.3s;
    flex-shrink: 0;
    justify-content: space-around;
    background: #1B262F;
    height: 100px;
    top: 270px;
}

.navbarFlex {
    display: flex;
    align-items: center;

}
.navbarFlex1{    
    display: flex;
    align-items: center;
}
.navbarFlex1 a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
.navbarFlex a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.foot3 {
    align-items: center;
    display: flex;
}

.button1 {
    position: absolute;
    right: 0;
    width: 152px;
    border-radius: 24px;
    background: #BA4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    height: 48px;
    flex-shrink: 0;
    border: none;
    color: white;
    font-size: 15px;
}

.Demo {
    display: flex;
    align-items: center;
}

.divgrid {
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}

.start {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-around;
}

.eeadress {
    display: flex;
    align-items: center;
    position: relative;
    word-spacing: 1rem;
}

.messagereg {
    color: #36536B;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
    letter-spacing: -0.115px;
    /* white-space: pre-line; */
}

/* @media only screen and (max-width: 1440px) {
    body {
      background-color: lightblue;
    }
  }
  @media only screen and (max-width: 768px) {
    body {
      background-color: red;
    }
  }
  @media only screen and (max-width: 375px) {
    body {
      background-color: green;
    } */

.register1 {
    display: flex;
    flex-direction: column;

}

footer {
   
    width: 100%;
}
#check1 {
    width: 24px;
    height: 24px;
}
.buttoncheck{
    display: flex;
    align-items: center;
    gap: 20px;

}
.rez{
    width: 395px;
flex-shrink: 0;
}
input[type="checkbox"]:checked {
    background-color: #BA4270;
}

input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    background-color: #36536B;
}

input[type="checkbox"]:after {
    content: ' ';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}
@media only screen and (min-width: 720px) and (max-width: 1024px) {
    .divgrid{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 35px;
        flex-wrap: wrap;
        align-content: space-around;
        flex-direction: column;
    }
    .start {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        flex-direction: column;
    }
    
}
@media only screen and (min-device-width: 1px) and (max-device-width: 767px) {
    .divgrid {
        display: flex;
        justify-content: space-around;
        margin-bottom: 35px;
        flex-direction: column;
    }
    .images1 {
        display: flex;
        grid-gap: 2rem;
        /* font-size: 1rem; */
        grid-template-areas:
            "tesla microsoft hp "
            "oracle google nvidia";
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        /* flex-direction: column-reverse;*/
    }
}